In [2]:
import pandas as pd
import numpy as np

In [3]:
!ls

data.csv               main.py                random-forest.ipynb
data_clean.ipynb       nlp_data_clean.csv     tokenizer.pickle
data_preprocess.ipynb  nlp_data_clean_add.csv
lable.json             preprocess_Data.csv

In [5]:
data = pd.read_csv('nlp_data_clean_add.csv')

In [6]:
data.head()

                                      x  y
0             go straight down the road  3
1            proceed in a straight line  3
2          move forward without turning  3
3  continue straight ahead on this path  3
4         head directly down the street  3

In [7]:
x = data['x']
y = data['y']

In [8]:
def lower_Case(text):
  return text.lower()

In [9]:
x = x.apply(lower_Case)

In [10]:
x = [i.replace('.', ' ') for i in x]
x = [i.replace(',', ' ') for i in x]
x = [i.replace('!', ' ') for i in x]
x = [i.replace('@', ' ') for i in x]
x = [i.replace('#', ' ') for i in x]
x = [i.replace('$', ' ') for i in x]
x = [i.replace('%', ' ') for i in x]
x = [i.replace('^', ' ') for i in x]
x = [i.replace('&', ' ') for i in x]
x = [i.replace(')', ' ') for i in x]
x = [i.replace('(', ' ') for i in x]
x = [i.replace('-', ' ') for i in x]
x = [i.replace('_', ' ') for i in x]
x = [i.replace('=', ' ') for i in x]
x = [i.replace('+', ' ') for i in x]
x = [i.replace('/', ' ') for i in x]
x = [i.replace('?', ' ') for i in x]
x = [i.replace(';', ' ') for i in x]
x = [i.replace('~', ' ') for i in x]

In [11]:
x= pd.Series(x)
y= pd.Series(y)

In [12]:
data = {'x':x,
        'y':y}

In [13]:
data = pd.DataFrame(data)

In [14]:
data.to_csv('nlp_data_clean.csv')

In [15]:
data = pd.read_csv('nlp_data_clean.csv')

In [16]:
data

      Unnamed: 0                                     x   y
0              0             go straight down the road   3
1              1            proceed in a straight line   3
2              2          move forward without turning   3
3              3  continue straight ahead on this path   3
4              4         head directly down the street   3
...          ...                                   ...  ..
2053        2053                   reach the coe block  19
2054        2054                 aim for the coe block  19
2055        2055                  target the coe block  19
2056        2056                  get to the coe block  19
2057        2057                approach the coe block  19

[2058 rows x 3 columns]