In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('data.csv')

In [6]:
data.head()

,command,action,code,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Go straight down the road,forward,3,NaN,NaN,NaN,NaN,NaN,NaN
1,Proceed in a straight line,forward,3,NaN,NaN,NaN,labels,NaN,NaN
2,Move forward without turning,forward,3,NaN,NaN,NaN,on,1.0,36.0
3,Continue straight ahead on this path,forward,3,NaN,NaN,NaN,off,2.0,36.0
4,Head directly down the street,forward,3,NaN,NaN,NaN,forward,3.0,139.0

In [10]:
x = data['command']
y = data['code']

In [11]:
def lower_Case(text):
  return text.lower()

In [12]:
x = x.apply(lower_Case)

In [14]:
x = [i.replace('.', ' ') for i in x]
x = [i.replace(',', ' ') for i in x]
x = [i.replace('!', ' ') for i in x]
x = [i.replace('@', ' ') for i in x]
x = [i.replace('#', ' ') for i in x]
x = [i.replace('$', ' ') for i in x]
x = [i.replace('%', ' ') for i in x]
x = [i.replace('^', ' ') for i in x]
x = [i.replace('&', ' ') for i in x]
x = [i.replace(')', ' ') for i in x]
x = [i.replace('(', ' ') for i in x]
x = [i.replace('-', ' ') for i in x]
x = [i.replace('_', ' ') for i in x]
x = [i.replace('=', ' ') for i in x]
x = [i.replace('+', ' ') for i in x]
x = [i.replace('/', ' ') for i in x]
x = [i.replace('?', ' ') for i in x]
x = [i.replace(';', ' ') for i in x]
x = [i.replace('~', ' ') for i in x]

In [15]:
x= pd.Series(x)
y= pd.Series(y)

In [16]:
data = {'x':x,
        'y':y}

In [19]:
data = pd.DataFrame(data)

In [21]:
data.to_csv('nlp_data_clean.csv')

In [20]:
data

                                         x   y
0                go straight down the road   3
1               proceed in a straight line   3
2             move forward without turning   3
3     continue straight ahead on this path   3
4            head directly down the street   3
..                                     ...  ..
971                                  pause   8
972                                 resume   8
973      rotate the wheelchair 180 degrees  14
974  engage the brakes to prevent movement   8
975   release the brakes to allow movement   4

[976 rows x 2 columns]